.formWrapper {
  padding: 0 20px;
}
.prodImage-uploader {
  display: block;
  &>div {
    display: flex;
    flex-direction: column;
    background: #ccc;
    border:1px solid #999;
    width: 120px;
    height: 120px;
    justify-content: center;
    align-items: center;
  }
}

.active {
  &:focus {
    background-color: rgb(99, 247, 252);
    color: rgb(51, 0, 255);
  }
  background-color: rgb(99, 247, 252);
  color: rgb(51, 0, 255);
}

.skuList {
  width: 300px;
  border: 1px solid #ccc;
  .skuListForm {
    display: flex;
  }
}